<!DOCTYPE html>
<html>
<head>
    <% include ./store/includes/header.ejs %>
</head>
<body>
<% include ./store/includes/nav.ejs %>
<h1 style="margin-top: 64px;">
    Async JS Get and Post
</h1>
<style>
    .avengers-list {
        display: grid;
        grid-template-columns: auto;
    }
</style>
<script>
    const fetchAllAvengers = async () => {
      const avengers = await (await fetch("/avengers/fetchAll")).json();

      document.getElementById("avengers").innerHTML = avengers.map(avenger =>
        `<div>
             <h4>${avenger.name}</h4>
             <p>${avenger.avenger}</p>
         </div>`).join("");
    }
    document.onload = fetchAllAvengers();

    const saveNewAvenger = async () => {
      const avenger = document.getElementById("avenger").value;
      const name = document.getElementById("name").value;
      const csrf = document.getElementById("csrf").value;

      if (avenger && name) {
        const avengers = await (await fetch("/avengers/insert", {
          method: "post",
          headers: {"X-CSRF-TOKEN": csrf, "Content-Type": "application/json"},
          body: JSON.stringify({name: name, avenger: avenger})
        })).json();

        document.getElementById("avengers").innerHTML = avengers.map(avenger =>
          `<div>
             <h4>${avenger.name}</h4>
             <p>${avenger.avenger}</p>
         </div>`).join("");
      }
    }

</script>
<div class="text-center">
    <form action="/insert" method="post" id="avengers-form">
        <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
        <div>
            <label>
                Name:
                <input type="text" name="name" id="name">
            </label>
        </div>
        <div>
            <label>
                Avenger:
                <input type="text" name="avenger" id="avenger">
            </label>
        </div>
        <div>
            <button type="button" onclick="saveNewAvenger()">Submit</button>
        </div>
        <div class="avengers-list" id="avengers"></div>
    </form>
</div>

</body>
</html>
