<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/prove02.css" />
</head>
<body>
<% if (showForm) { %>
    <form action="/add-book" method="post">
        <div class="grid">
            <label for="bookTitle">Book Title:</label>
            <input name="bookTitle" type="text">
        </div>
        <div class="grid">
            <label for="bookSummary">Book Summary:</label>
            <textarea name="bookSummary"></textarea>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
<% } %>
<% if (books && books.length > 0) { %>
    <h1>Books List</h1>
<% }%>
<div class="books-list">
<% books.forEach(({bookTitle, bookSummary}) => { %>
    <h2><%= bookTitle %></h2>
    <p><%= bookSummary %></p>
<% }) %>
    <% if (!showForm) { %>
        <a href="/">Home</a>
    <% } %>
</div>

</body>
</html>
