<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<% include ./includes/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <div class="hero-container">
            <div class="hero hero-tesla">
                <h1><%= title %></h1>
                <div class="action-buttons">
                    <a class="btn-link" href="/cars/find">Find a Car</a>
                    <a class="btn-link" href="/cars/sell">Sell a Car</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
