<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<% include ./includes/nav.ejs %>
<div class="jumbotron text-center">
    <div class="container">
        <div class="hero-container">
            <div class="hero hero-lambo" >
                <h1><%= title %></h1>
                <h2 style="color: black"><%= explanation %></h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>
